---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
---

<ProjectLayout 
    title="NoiseLoom" 
    image="/assets/NoiseLoom1.png"
>
    <p>An intuitive yet unique multiplayer noise improvisation tool, for experts and non-experts.</p>
</ProjectLayout>